<h1><%= @word.name %></h1>

<br>


<% if @word.definitions %>
    <% @word.definitions.each do |definition| %>
      <p><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.name %></a></p>

    <% end %>
<% else %>
  <p>There are no definitions listed for this word yet.</p>
<% end %>



<h4>Add a definition:</h4>

<form action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <input id="definition_name" name="definition_name" class="form-control" type="text">
  </div>
  <button type="submit" class="main-button add-definition">Add definition</button>
</form>

<form action="/words/<%= @word.id %>/edit">
    <button type="submit" class="main-button">Edit Word</button>
</form>

<!-- <p><a href="/words/<%= @word.id %>/edit">Edit word</a></p> -->

<a href="/words">Return to word list</a>
