
<h1><%= @word.name %></h1>

<br>

<% if @word.definitions.any? %>
    <% @word.definitions.each do |definition| %>
      <h2><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.name %></a></h2>

    <% end %>
<% else %>
  <p>There are no definitions listed for this word yet.</p>


<h4>Add a definition:</h4>

<form class="definition_form" action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <input id="definition_name" name="definition_name" class="form-control" type="text">
  </div>
  <button type="submit" class="main-button add-definition">Add definition</button>
</form>

<form action="/words/<%= @word.id %>/edit">
    <button type="submit" id="edit-button" class="main-button">Edit Word</button>
</form>

<% end %>
<!-- <p><a href="/words/<%= @word.id %>/edit">Edit word</a></p> -->


<form action="/words">
    <button type="submit" class="return-button main-button">Return to word list</button>
</form>
